# Standard python ignores.
__pycache__/
Thumbs.db
*.egg-info/
__pypackages__/

# Pycharm
*.iws
workspace.xml

# Project-specific
node_modules/
pucks/static/dist/
/main/keys.py


# Local DB files
*.dump*
*.sqlite3
