body {
    background-color: #F8F8F8;
    background-position: top center;
    background-size: auto;
}

div {
    font-family: 'Karla', sans-serif;
    font-size: 1.0em;
}

input {
    border: 1px solid black;
    height: 32px;
}

textarea {
    font-family: 'Karla', sans-serif;
    border: 1px solid #333333;  /* matches `.order-input`.*/
}

img {
    max-width: 100%;
}

#top-bar {
    display: flex;
    background-color: #a2c8a9;
    justify-content: space-between;
}

#menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#footer {
    text-align: center;
    margin-top: 100px;
}

.home-body {
    display: flex;
    flex-direction: column;

    background-color: #F8F8F8;
}

@media (min-width : 800px) {
    .home-body {
        padding: 40px;
    }
}

@media (max-width : 800px) {
    .home-body {
        padding: 0;
    }

    #menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.menu-item {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.button-general {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dce9ec;
    border: 2px solid #222222;
    border-radius: 12px;
    padding: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;  /* Useful when flex-wrapped, eg on mobile. */
    color: #3d3d3d;
    cursor: pointer;
}

.button-small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dce9ec;
    border: 2px solid #222222;
    border-radius: 12px;
    padding: 14px;
    margin-left: 8px;
    margin-right: 8px;
    color: #3d3d3d;
    cursor: pointer;
    height: 28px;
}

@media (min-width: 800px) {
    .button-general {
    }
}
.button-general:hover {
    border-color: #58af55;
}

.fineprint {
    color: #777777;
    font-size: .8em;
    font-weight: normal;
}

.input-label {
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
}

.blog-body {

}

@media (max-width : 800px) {
    .hide-on-mobile {
        /*visibility: collapse;*/
        display: none;
    }
}

.about-item {
    margin-top: 40px;
    margin-bottom: 0;
}

.transaction {
    border: 1px solid #888888;
    border-radius: 8px;
    padding-left: 10px;
}

.transaction-cell {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.tran-heading {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.tran-pos {
    color: #2ba929;
}

.tran-neg {
    color: #bd5935;
}

.tran-neutral {
    color: #3146ad;
}

/* These contain all accounts for each type. */
.account-type {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 12px;
    margin: 12px;
    padding: 8px;
}

@media (max-width : 800px) {
    .account-type {
        width: 100%
    }
}

.account-heading {
    display: flex;
}

@media (max-width : 800px) {
    .account-heading {
        justify-content: space-between;
    }
}

@media (min-width : 800px) {
    .account-heading {
        flex-direction: column;
    }
}

/* This surrounds the account-types above*/
#accounts {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
}

.acct-hdg {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tran-table {
    background-color: white;
    border-radius: 12px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 12px;
}

@media (min-width : 800px) {
    #spending-highlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .spending-highlight-title {
    }
}

@media (max-width : 800px) {
    #spending-highlights {
        display: flex;
        flex-wrap: wrap;
    }

        .spending-highlight-title {
            margin-bottom: 0;
            margin-top: 32px;
    }
}

/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/karla_latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/karla_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.home-h {
    font-size: 1.5em;
    margin-top: 12px;
    margin-bottom: 8px;
}

.home-p {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 32px;
}

.menu-highlighted {
    color: #F6F7EB;
}

@media (min-width : 800px) {
    .spending-table {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }
}

@media (max-width : 800px) {
    .spending-table {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width : 800px) {
    .recur-item {
        font-size: 0.8em;
    }
}

.testimonial {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #444444;
    border-radius: 6px;
    padding: 8px;
    margin-right: 20px;
    max-width: 200px;
    margin-bottom: 20px;
}

.test-sig {
    color: #777777
}