{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    {#    Note: Some pages overwrite this description. #}
    <meta name="description" content="Sensors and measurement for science, hydroponics, and aquariums">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://www.finance-monitor.com">

    {# SVG favicons appear to only be supported in Firefox? #}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    {#    <link rel="icon" href="/favicon.ico">#}
    {#    <link rel="icon" href="/favicon.svg" type="image/svg+xml">#}
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    {#    <link rel="manifest" href="/my.webmanifest">#}
    <meta name="theme-color" content="#a2c8a9">

    <meta name="google-site-verification" content="2QORtyWOYcPVT3l_-4cVnoGy6yxulsg5AsEeMa-v_cs" />

    {%  block head_contents %} {% endblock %}

</head>
<body>

<div id="top-bar">
    <div id="menu">
        {# Menu #}
        {% if request.user.is_authenticated %}
            <a class="menu-item" id="menu-dashboard" href="/dashboard"><h3 class="menu-header">Dashboard</h3></a>
            <a class="menu-item" id="menu-spending" href="/spending"><h3 class="menu-header">Spending</h3></a>
            <a class="menu-item" id="menu-recurring" href="/recurring"><h3 class="menu-header">Recurring</h3></a>
            <a class="menu-item" id="menu-settings" href="/settings"><h3 class="menu-header">Settings</h3></a>
        {% endif %}

{#        <a class="menu-item" id="menu-about" href="/about"><h3 class="menu-header">About</h3></a>#}
        <a class="menu-item" href="mailto:contact@finance-monitor.com"><h3 class="menu-header">Contact</h3></a>

        {% if request.user.is_authenticated %}
            <a class="menu-item" href="/logout"><h3 class="menu-header">Logout</h3></a>
        {% else %}
            <a class="menu-item" href="/login"><h3 class="menu-header">Login</h3></a>
            <a class="menu-item" href="/register"><h3 class="menu-header">Register</h3></a>
        {% endif %}

        {% if request.user.is_superuser %}
            <a class="menu-item" href="/admin"><h3 class="menu-header">Admin</h3></a>
        {% endif %}
    </div>
</div>

{% block contents %}{% endblock %}

<div id="footer">
    <div style="margin-bottom: 30px">
        <a class="fineprint" style="margin-right: 20px" href="/privacy">Privacy policy</a>
        <a class=fineprint href="/terms">Terms and conditions</a>
    </div>
    <div style="display: flex; flex-direction: column">
        <h5 class="fineprint">© 2024 Finance Monitor</h5>
    </div>
</div>

</body>
</html>