{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Budget</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        <h1 style="text-align: center">Monthly budget</h1>
        <h3>Our budget system is a work in progress! Please send us any feedback and
        feature requests and email to <a href="mailto:contact@finance-monitor.com">contact@finance-monitor.com</a> </h3>

{#        <h2 style="text-align: center;">Budget items</h2>#}
{#        <h2 id="item-success" style="color: #39a839; visibility: collapse; text-align: center;">Budget item save successful.</h2>#}
        <h2 id="item-success" style="color: #39a839; display: none; text-align: center;">Budget item save successful.</h2>
        <section style="display: flex; flex-direction: column; align-items: center">

            <div style="display: flex; margin-bottom: 20px;">
                <button class="button-general" onclick="saveItems()" style="margin-bottom: 12px;">Save</button>
                <button class="button-general" onclick="addItem()" style="margin-bottom: 12px;">➕ Add</button>
            </div>
            {% for item in budget_items %}
                <div id="item-div-{{ item.0.id }}" style="display: flex; margin-bottom: 8px;">
                    <input
                            id="item-amount-{{ item.0.id }}"
                            type="number"
                            style="width: 100px; margin-left: 20px; margin-right: 20px;"
                            {#  todo: format no decimals #}
                            value={{ item.0.amount }}
                                    oninput="updateItem({{ item.0.id }})"
                    />

                    <h3 class="tran-neutral" style="margin-right: 20px;">{{ item.1 }}</h3>

                    <div id="cat-div-{{ item.0.id }}"></div>

                    <input
                            id="item-notes-{{ item.0.id }}"
                            style="width: 160px;"
                            value="{{ item.0.notes }}"
                            oninput="updateItem({{ item.0.id }})"
                    />

                    <button class="button-general" style="height: 40px; margin-right: 40px;" onclick="deleteItem({{ item.0.id }})">❌</button>
                </div>
            {% endfor %}
        </section>
    </div>

    <script src="../static/util.js"></script>

    <script>
        getEl("menu-budget").classList.add("menu-highlighted")

        {# Load template variables into JS. #}
        {#let BUDGET_ITEMS = {{budget_items.all|safe }};#}
        let BUDGET_ITEMS = []

        let ITEMS_UPDATED= {}
        let ITEMS_ADDED = []
        let ITEMS_DELETED = []

        let CUSTOM_CATEGORIES = {{ custom_categories_ser|safe }}

            function updateItem(id) {
                ITEMS_UPDATED[id] = {
                    id: id,
                    category: parseInt(getEl("item-category-" + id.toString()).value),
                    notes: getEl("item-notes-" + id.toString()).value,
                    amount: getEl("item-amount-" + id.toString()).value,
                }
            }

        function addItem() {
            {#getEl("item-" + id.toString()).remove()#}
            ITEMS_ADDED.push({
                category: 0,
                notes: "",
                amount: 0.,
            })

            // todo temp until we pass ID from backend
            const payload = {
                edited: [],
                added: [{
                    category: 0,
                    notes: "",
                    amount: 0.,
                }],
                deleted: [],
            }
            fetch("/edit-budget-items", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("item addition failed to save")
                    } else {
                        // todo: Pass the new ID from the UI, and add the row.
                        window.location.reload()
                    }
                });
        }

        function deleteItem(id) {
            getEl("item-div-" + id.toString()).remove()

            const payload = {
                edited: [],
                added: [],
                deleted: [id],
            }
            fetch("/edit-budget-items", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("item addition failed to save")
                    } else {
                        // todo: Pass the new ID from the UI, and add the row.
                        window.location.reload()
                    }
                });
        }

        function saveItems() {
            const payload = {
                edited: Object.values(ITEMS_UPDATED),
                added: [], // todo temp handled separate
                deleted: ITEMS_DELETED,
            }

            fetch("/edit-budget-items", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("Budget items failed to save")
                    } else {
                        if (ITEMS_ADDED.length) {
                            // todo: Temp until we pass new ID from the backend
                            window.location.reload()
                        }
                        {#getEl("item-success").style.visibility = "visible"#}
                        getEl("item-success").style.display = "flex"
                    }
                });
        }

        function createCatSel2(id, catInit) {
            let sel = createCatSel(catInit, "", false)
            sel.id = "item-category-" + id.toString()

            sel.addEventListener("input", e => {
                updateItem(id)
            })

            return sel
        }

        function init() {
            let div
            {% for item in budget_items %}
                div = getEl("item-div-{{ item.0.id }}")
                div.prepend(createCatSel2({{ item.0.id }}, {{ item.0.category }}))
            {% endfor %}
        }

        init()


    </script>

{% endblock %}