{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        {#        <h1>Welcome to Finance Monitor</h1>#}

        <h2>Net worth: {{ net_worth }}</h2>

        <div style="display: flex; align-items: center;">
            <h2 style="margin-right: 32px">Account balances</h2>
            <button id="link-button" class="general-button">➕ Syncing account</button>
            <button id="add-manual-button" class="general-button" onclick="toggleAddManual()">➕ Manual account</button>
        </div>

        {#                <h3>{{ account.institution.name }}</h3>#}
        {#                {% for sub_acc in account.sub_accounts.all %}#}
        {#                    {% if not sub_acc.ignored %}#}
        {#                        <div style="display: flex">#}
        {#                            <h4>Name: {{ sub_acc.name }}</h4>#}
        {#                            <h4>Balance: {{ sub_acc.current }}</h4>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                {% endfor %}#}

        {#        <div style="display: flex; flex-direction: column; margin-bottom: 40px">#}
        {#     todo: border color a/r#}

        {#        We hide and show this based on the "add a manual account" button.#}
        <div id="add-manual-form" style="display: flex; justify-content: center; visibility: collapse;">
            <form
                    style="display: flex;
                margin-top: 32px;
                margin-bottom: 32px;
                flex-direction: column;
                width: 400px;
                border: 1px solid #444444;
                padding: 20px;
                "
            >

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Account name</h3>
                    <input id="add-manual-name" />
                </div>

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Type</h3>
                    <select id="add-manual-type" style="border: 1px solid black; height: 32px; width: 156px;">

                        <option value="0">Checking</option>
                        <option value="1">Savings</option>
                        <option value="2">Debit card</option>
                        <option value="3">Credit card</option>
                        <option value="4">401K</option>
                        <option value="5">Student</option>
                        <option value="6">Mortgage</option>
                        <option value="7">CD</option>
                        <option value="8">Money market</option>
                        <option value="9">IRA</option>
                    </select>
                </div>

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Value (Must be updated manually)</h3>
                    <input id="add-manual-currency-code" value="USD" maxlength="3" />
                </div>

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Value (Must be updated manually)</h3>
                    <input id="add-manual-current" type="number" value="0" />
                </div>

                <button
                        type="button"
                        onclick="addAccountManual()"
                        class="general-button" style="width: 140px;"
                >
                    Add this account</button>
            </form>
        </div>

        <div id="balances"
             style="display: flex; flex-wrap: wrap; border: 1px solid #666666; margin-bottom: 60px;"
        >

            {% if cash_accs|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Cash</h2>
                    {% for acc in cash_accs %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {#    todo: DRY#}
            {% if investment_accs|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Investments</h2>
                    {% for acc in investment_accs %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if crypto_accs|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Crypto</h2>
                    {% for acc in crypto_accs %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if credit_debit_accs|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Credit and debit</h2>
                    {% for acc in credit_debit_accs %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if loan_accs|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Loans</h2>
                    {% for acc in loan_accs %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if assets|length %}
                <div class="account-type">
                    <h2 style="margin-top: 0; margin-bottom: 8px; text-align: center;">Assets and manual</h2>
                    {% for acc in assets %}
                        <div style="display: flex; justify-content: space-between">
                            <h4 class="acct-hdg" style="margin-right: 26px;">{{ acc.name }}</h4>
                            <h4 class="acct-hdg {{ acc.current_class }}">{{ acc.current }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 18px;">
            <h2 style="margin-right: 32px;">Transactions</h2>
            {# Required to show borders?#}

            <div style="display: flex; align-items: center;">
                <span>🔍</span>
                <input
                        id="search"
                        placeholder=""
                        style="margin-right: 80px; width: 120px;"
                        oninput="updateSearch()"
                />
            </div>

            <div style="display: flex; align-items: center;">
            <h4 style="width: 70px;">Value ></h4>
            <input
                    id="transaction-value-filter"
                    type="number"
                    value="0"
                    {#                    style="margin-right: 80px; width: 120px; height: 32px;"#}
                    style="width: 60px"
{#                     todo: Same as search change?#}
                    oninput="updateSearch()"
            />
        </div>

        {#            Import / export form #}
        <form
                id="import-form"
                method="post"
                enctype="multipart/form-data"
                {#                    collapse vis a/r#}
                style="display: flex; align-items: center; visibility: hidden;"
        >
            {% csrf_token %}
            {#                <input#}
            {#                    style="color: black; background-color: #aaaaaa; height: 38px;"#}
            {#                    type="file"#}
            {#                    accept="text/csv"#}
            {#                />#}
            <input type="file" name="file" required id="id_file"
                   style="color: black; background-color: #aaaaaa; height: 38px;">
            <button type="submit" class="general-button">Import from Mint</button>
        </form>
        <button id="import-start" class="general-button">Import ↑</button>


        {#            Have a button show the import dialog#}
        {#            <button id="import" class="general-button">Import from Mint</button>#}
        <button id="export" class="general-button">Export ↓</button>
    </div>

    <table id="transactions" style="border-collapse: collapse;">
        {#            {% for tran in transactions %}#}
        {#                <tr class="transaction">#}
        {#                    <td class="transaction-cell"><h4 class="tran-heading">{{ tran.categories}}</h4></td>#}
        {#                    <td class="transaction-cell"><h4 class="tran-heading" style="font-weight: normal;">{{ tran.description }}</h4></td>#}
        {#                    <td class="transaction-cell"><h4 class="tran-heading" style="font-weight: normal; color: #444444;">{{ tran.notes }}</h4></td>#}
        {#                    <td class="{{ tran.amount_class }} transaction-cell"><h4 class="tran-heading">{{ tran.amount }}</h4></td>#}
        {#                    <td class="transaction-cell"><h4 class="tran-heading">{{ tran.date_display }}</h4></td>#}
        {#                </tr>#}
        {#            {% endfor %}#}
    </table>

    {# todo: Load locally. #}
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <script src="../static/main.js"></script>
    </div>

    <script>
        document.getElementById("menu-dashboard").style.color = "#F6F7EB"
    </script>
{% endblock %}