{% extends 'base.html'  %}
{% load static %}

{% block head_contents %}
    <title>Finance Monitor</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        <h1>Finance Monitor</h1>

        <h2 class="home-h">The fastest way to view your finances</h2>

        <p class="home-p">
            View account balances, net worth, and transactions. <a href="/register">Register here</a>; it takes about a minute.
        </p>

        <h2 class="home-h">Privacy focused</h2>
        <p class="home-p">No marketing emails. No ads. No analytics trackers.
            No cookies. We will never share your data with third parties ouside of Plaid.
        </p>

        <h2 class="home-h">Account balances and transactions</h2>
        <p class="home-p">View account balances and transaction data. Edit transaction data. Identify trends,
            and spending by category. View recurring transactions. Split and recategorize.</p>

        <div style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
            <img src="{% static 'images/fm-dash-1.png' %}" height="540" alt="Dashboard example" />
        </div>

        <h2 class="home-h">Secure authentication</h2>
        <p class="home-p">We use <a href="https://plaid.com/">Plaid</a> to safely and quickly link to your financial accounts.
            We don't store your financial account login details. Plaid is designed for security: It meets or exceeds industry
            standards, and connects in seconds. All connections occur using secure socket layer (SSL) encryption.</p>

        <h2 class="home-h">Low cost</h2>
        <p class="home-p">Currently free. Our upcoming $4 monthly subscription with added features is cheaper than alternatives.
            We will always have a free version to view account balances, net worth, and transactions.</p>

        <p class="home-p">If you sign up during the free period, you will be grandfathered in to the paid version.</p>

        <h2 class="home-h">Fast and focused. No advertisements.</h2>
        <p class="home-p">Performance-oriented design: Our website loads faster
            than any alternative. This means minimal latency, and it loads quickly even on spotty
            mobile connections. </p>

        <div style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
            <img src="{% static 'images/fm-spending-1.png' %}" height="479" alt="Spending example" />
        </div>

        <p class="home-p">
            We respect you and your time: No ads, no distractions, no notifications. We don't have engagement
            metrics: Finance Monitor shows you information in an efficient format, so you can find what you're looking for,
            and get off the site fast.
        </p>

        <h2 class="home-h">Read only</h2>
        <p class="home-p">Finance Monitor has no access to make transactions, or alter your accounts: It connects only to read balance and
            transaction data.</p>

        <h2 class="home-h">Powerful transaction view</h2>
        <p class="home-p">
            View your transactions easily, with less scrolling than other tools. Easily recategorize and add notes.
            Quickly search by name, category, institution, and date.
        </p>

        <div style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
            <img src="{% static 'images/fm-dash-2.png' %}" height="434" alt="Transactions example" />
        </div>

        <h2 class="home-h">User-oriented</h2>
        <p class="home-p">Do you have any suggestions? Is something not working as you expect?
            <a href="mailto: contact@finance-monitor.com">Send us an email</a>. We want to hear from you what's working well,
            and how we can do better.</p>

        <p class="home-p">We are continuously adding features and improving user experience.</p>

        <h2 class="home-h">A great Mint alternative</h2>
        <p class="home-p">Import and export transactions in Mint's format.</p>

        {#    <h2>Finance Monitor shows you all </h2>#}



        <h2 class="home-h">From our users</h2>

        <div style="display: flex; align-items: center; flex-wrap: wrap;">
            <div class="testimonial">
                <h4>"Finance Monitor is the easiest to use Mint alternative, and
                    I've tried a lot of them!"</h4>
                <h5 class="test-sig">Michael O</h5>
            </div>

            <div class="testimonial">
                <h4>"Great way to show you exactly where your money is going."</h4>
                <h5 class="test-sig">Christian L</h5>
            </div>

            <div class="testimonial">
                <h4>"The perfect replacement for Mint. Once you use it you'll wonder,
                    why can't the other apps get it right?"</h4>
                <h5 class="test-sig">Jennifer</h5>
            </div>

            <div class="testimonial">
                <h4>"Elegantly designed, and just works, as advertised. Significantly better
                    transaction categorizing than its competitors."</h4>
                <h5 class="test-sig">Muhammad</h5>
            </div>

            <div class="testimonial">
                <h4>"Everything I'm looking for is right on the Dashboard. This is so easy!"</h4>
                <h5 class="test-sig">Johan</h5>
            </div>

            <div class="testimonial">
                <h4>"I love Finance Monitor's interface and great customer support! They actually listen
                    to my feedback"</h4>
                <h5 class="test-sig">Susan K</h5>
            </div>
        </div>

    </div>

    {#    <h3>Join our 500,000 members.</h3>#}
    {#    (4.4 stars (5000 Ratings).#}
{% endblock %}