{% extends 'base.html'  %}
{% load static %}

{% block head_contents %}
    <title>Finance Monitor</title>
{% endblock %}

{% block contents %}

    {#     Check other applications for examples. Wilbur, Rocket money, Monarch etc.#}

    <div class="home-body">
        <h1>Finance Monitor</h1>

        <h2 class="home-h">The easiest way to view your finances</h2>

        <p class="home-p">
            View account balances, net worth, and transactions. <a href="register">Register here</a>; it takes about a minute.
        </p>

        <h2 class="home-h">Privacy focused</h2>
        <p class="home-p">We will never share your data with third parties. No marketing emails. No analytics trackers.
            No cookies.
        </p>

        <h2 class="home-h">Account balances and transactions</h2>
        <p class="home-p">View account balances and transaction data. Edit transaction data. Identify trends,
            and spending by category. View recurring transactions.</p>

        <h2 class="home-h">Secure authentication</h2>
        <p class="home-p">We use <a href="https://plaid.com/">Plaid</a> to safely and quickly link to your financial accounts.
            We don't store your financial account login details. Plaid is designed for security: It meets or exceeds industry
            standards, and connects in seconds. All connections occur using secure socket layer (SSL) encryption.</p>

        <div style="margin-top: 40px; margin-bottom: 40px;">
            <img src="{% static 'images/dash-example.png' %}" alt="Dashboard example" width=800 height="auto" />
        </div>

        <h2 class="home-h">Low cost</h2>
        <p class="home-p">Currently free. Our upcoming $5 monthly subscription for more features is cheaper than alternatives.
            We will always have a free version to view account balances, net worth, and transactions.</p>

        <p class="home-p">If you sign up during the free period, you will be grandfathered in to the paid version.</p>

        <h2 class="home-h">Fast and focused. No advertisements.</h2>
        <p class="home-p">Performance-oriented design: Our website loads faster
            than any alternative. This means minimal latency, and it loads fast even on spotty
            mobile connections. </p>

        <p class="home-p">
            We respect you and your time: No ads, no distractions, no notifications. We don't have engagement
            metrics: Finance Monitor shows you information in an efficient format, so you can find what you're looking for,
            and get and off the site fast.
        </p>

        <h2>Read only</h2>
        <p class="home-p">Finance Monitor has no access to make transactions, or alter your accounts: It connects only to read balance and
            transaction data.</p>

        <h2 class="home-h">Powerful transaction view</h2>
        <p class="home-p">
            View your transactions easily, with less scrolling than other tools. Easily recategorize and add notes.
            Quickly search by name, category, and date.
        </p>

        <h2 class="home-h">Customer-oriented</h2>
        <p class="home-p">Do you have any suggestions? Is something not working as you expect?
            <a href="mailto: contact@finance-monitor.com">Send us an email</a>. We want to hear from you what's working well,
            and how we can do better.</p>

        <p class="home-p">We are continuously adding features and improving user experience.</p>

        {#    <h2>Finance Monitor shows you all </h2>#}

    </div>



    {#    <h3>Join our 500,000 members.</h3>#}
    {#    (4.4 stars (5000 Ratings).#}



{% endblock %}