{% extends 'base.html'  %}

{% block head_contents %}
<title>Wallet</title>
{% endblock %}

{% block contents %}

<h1>Welcome to Wallet</h1>

<h2>Net worth</h2>
{% for account in accounts %}
    <div style="display: flex;">
        <h3>Institution:{{ account.institution.name }}</h3>
        <h3>Name: {{ account.name }}</h3>
        <h3>Value: ${{ account.name }}</h3>
    </div>
{% endfor %}
{# todo: Load transactions and account info async with JS #}


<h2>Transactions</h2>
{% for transaction in transactions %}
    <div style="display: flex;">
        <h3>Account: ${{ transaction.account.name }}</h3>
        <h3>Amount: ${{ transaction.amount }}</h3>
        <h3>{{ transaction.description }}</h3>
    </div>
{% endfor %}

<button id="link-button">Add account</button>


{# todo: Load locally. #}
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<script src="../static/main.js"></script>

{% endblock %}