{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Password reset</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h1 style="text-align: center;">Reset your password here</h1>


        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">

                    <div class="flex-container">
                        <label for="id_email">Email address:</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Reset my password">
            </div>
        </form>

    </div>

    <script>
        document.getElementById("menu-recurring").classList.add("menu-highlighted")
    </script>

{% endblock %}