{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Password reset</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h1 style="text-align: center;">Reset your password here</h1>

        <div class="form-block" style="display: flex; justify-content: center;">
            <form
                    method="post"
                    style="display: flex; flex-direction: column; align-items: center;">

                {% csrf_token %}

                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting
                    a new one.</p>

                <label for="email">Email:</label>
                <input id="email" class="form-control" type="email" autocomplete="email" name="email" value="" size="30"
                       style="width: 200px; margin-bottom: 20px;"
                />

                <div class="submit-row">
                    {#                    <input type="submit" value="Reset my password">#}

                    <button
                            type="submit"
                            class="button-general"
                            style="width: 180px; margin-bottom: 40px;"
                    >Send reset link</button>

                </div>
            </form>
        </div>

    </div>

    <script>
        document.getElementById("menu-recurring").classList.add("menu-highlighted")
    </script>

{% endblock %}