{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Password reset</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h1 style="text-align: center;">Choose a new password</h1>

        <div class="form-block" style="display: flex; justify-content: center;">

            <form
                    method="post"
                    style="display: flex; flex-direction: column; align-items: center;">

                {#                todo: C+P with little change from login!#}
                {% csrf_token %}

                <label for="id_new_password1" style="margin-top: 32px;">Password:</label>
                <input
                        type="password"
                        name="new_password1"
                        autocomplete="new-password"
                        required aria-describedby="id_password1_helptext"
                        id="id_password1"
                        style="width: 180px; margin-bottom: 20px;"
                >

                <label for="id_new_password2">Password confirmation:</label>
                <input
                        type="password"
                        name="new_password2"
                        autocomplete="new-password"
                        required aria-describedby="id_new_password2_helptext"
                        id="id_password2"
                        style="width: 180px;"
                >

                <span class="helptext" id="id_new_password1_helptext">
                    <ul>
{#                        <li>Your password can’t be too similar to your other personal information.</li>#}
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>

                {#                <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>#}

                <button class="button-general" type="submit"
                        style="margin-top: 32px; width: 180px; margin-bottom: 40px;"
                >Change your password</button>
            </form>
        </div>

    </div>

    <script>
        document.getElementById("menu-recurring").classList.add("menu-highlighted")
    </script>

{% endblock %}