{% extends 'base.html'  %}
{% load static %}

{% block head_contents %}
    <title>Finance Monitor: Privacy Policy</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        <h1>Privacy Policy</h1>
        <p>Last updated: March 2, 2024</p>
        <p>Welcome to Finance Monitor, a financial aggregator platform. We are committed to protecting your privacy and handling
            your data in an open and transparent manner. This Privacy Policy outlines how we collect, use, process,
            and share your information.</p>

        <h2>Information We Collect</h2>
        <p>We collect information necessary to provide our services to you. This includes:</p>
        <ul>
            <li>Account balances and transactions from financial institutions you connect to our service.</li>
            <li>Personal identification information such as name and email address.</li>
{#            <li>Device and usage information, including IP addresses, browser types, and log information.</li>#}
        </ul>

        <h2>How We Use Your Information</h2>
        <p>Your information is used to:</p>
        <ul>
            <li>Provide, operate, and improve our services.</li>
            <li>Analyze and understand how our services are used to enhance user experience.</li>
            <li>Communicate with you, including providing customer support.</li>
        </ul>

        <h2>Sharing Your Information</h2>
        <p>We do not share your personal information with third parties except as described in this policy:</p>
        <ul>
            <li>To comply with legal obligations or respond to legal proceedings.</li>
            <li>For the purposes of providing and improving our services, with your consent.</li>
        </ul>

        <h2>Your Privacy Rights</h2>
        <p>You have rights over your personal information, including:</p>
        <ul>
            <li>The right to access and update your information.</li>
            <li>The right to request deletion of your information.</li>
            <li>The right to opt-out of data processing or marketing communications.</li>
        </ul>
        <p>To exercise these rights, please contact us at Finance Monitor@Finance Monitor.com.</p>

        <h2>Data Security</h2>
        <p>We implement appropriate technical and organizational measures to ensure a level of security appropriate to
            the risk, including safeguards to protect against unauthorized or unlawful processing, accidental loss,
            destruction, or damage to your personal information.</p>

        <h2>Children's Privacy</h2>
        <p>Our service is not intended for individuals under the age of 18. We do not knowingly collect personal information
            from children under 18. If we become aware that we have collected personal information from a child under
            the relevant age without parental consent, we take steps to delete that information.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
            Privacy Policy on this page. We will let you know via email and/or a prominent notice on our Service, prior
            to the change becoming effective and update the "last updated" date at the top of this Privacy Policy.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
            <li>By email: contact@finance-monitor.com</li>
{#            <li>By visiting this page on our website: [Your Website Contact Page]</li>#}
        </ul>
    </div>

{% endblock %}