{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Recurring</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h1>Recurring transactions</h1>

        <div style="border-radius: 12px; background-color: white; padding: 20px;">

        {#    <div style="display: flex; flex-direction: column;">#}
        <div style="display: flex;flex-direction: column; justify-content: left;">

            {#    Header #}

            <div style=
                 "display: grid;
                 grid-template-columns: 1fr 3fr 2fr 1fr 1fr;
                 grid-template-rows: auto;
                 border-bottom: 2px solid #666666;
            ">
                <div style="grid-column: 1/2; text-align: center;"><h4>Description</h4></div>
                <div style="grid-column: 2/3; text-align: center;"><h4>Merchant</h4></div>
                <div style="grid-column: 3/4; text-align: center;"><h4>Account</h4></div>
{#                <div style="grid-column: 4/5; text-align: center;"><h4>Avg amount</h4></div>#}
                <div style="grid-column: 4/5; text-align: center;"><h4>Amount</h4></div>
                <div style="grid-column: 5/6; text-align: center;"><h4>Last date</h4></div>
            </div>


            {% for recur in recurring %}
                <div style="display: grid; grid-template-columns: 1fr 3fr 2fr 1fr 1fr; grid-template-rows: auto">
                    {#         Merchant name appears generally missing#}
                    {#            <div style="grid-column: 1/2"><h4>{{ recur.merchant_name }}</h4></div>#}
                    <div style="grid-column: 1/2; text-align: center; border-bottom: 1px solid #cccccc;"><h4>{{ recur.cat_display}}</h4></div>
                    <div style="grid-column: 2/3; text-align: center; border-bottom: 1px solid #cccccc;"><h4>{{ recur.merchant_name }}</h4></div>
                    <div style="grid-column: 3/4; text-align: center; border-bottom: 1px solid #cccccc;"><h4>{{ recur.account.account.institution.name }}</h4></div>
{#                    <div style="grid-column: 4/5; text-align: center;"><h4>{{ recur.average_amount|floatformat:2 }}</h4></div>#}
                    <div style="grid-column: 4/5; text-align: center; border-bottom: 1px solid #cccccc;"><h4 class="tran-neutral">{{ recur.last_amount|floatformat:2 }}</h4></div>
                    <div style="grid-column: 5/6; text-align: center; border-bottom: 1px solid #cccccc;"><h4>{{ recur.last_date|date:"m/d" }}</h4></div>

                </div>
                {#            account = ForeignKey(SubAccount, related_name="recurring", on_delete=CASCADE)#}
                {#            direction = CharField(choices=RecurringDirection.choices())#}
                {#            average_amount = FloatField()#}
                {#            last_amount = FloatField()#}
                {#            first_date = DateField()#}
                {#            last_date = DateField()#}
                {#            description = CharField(max_length=50)#}
                {#            merchant_name = CharField(max_length=50)#}
                {#            is_active = BooleanField(default=True)#}
                {#            status = CharField(max_length=15)  # Plaid string. Use an enum or remove A/R#}
                {#            categories = TextField()  # List of category enums, eg [0, 2]#}

            {% endfor %}
        </div>
        </div>

    </div>

    <script>
        document.getElementById("menu-recurring").classList.add("menu-highlighted")
    </script>

{% endblock %}