{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Settings</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h2>Categorization rules</h2>

        <h2 style="text-align: center;">Change password</h2>

        {% if password_change %}
            {% if password_change_success %}
                <h2 style="color: green; text-align: center">
                    Password successfully changed
                </h2>
            {% else %}
                <h2 style="color: #8d4a1f; text-align: center">
                    Password change failed; please try again.
                </h2>
            {% endif %}
        {% endif %}

        <div class="form-block" style="display: flex; justify-content: center;">
            <form
                    method="post"
                    style="display: flex; flex-direction: column; align-items: center;">

                {#                todo: C+P with little change from login and reset confirm!#}
                {% csrf_token %}

                <label for="id_new_password1" style="margin-top: 32px;">Password:</label>
                <input
                        type="password"
                        name="new_password1"
                        autocomplete="new-password"
                        required aria-describedby="id_password1_helptext"
                        id="id_password1"
                        style="width: 180px; margin-bottom: 20px;"
                >

                <label for="id_new_password2">Password confirmation:</label>
                <input
                        type="password"
                        name="new_password2"
                        autocomplete="new-password"
                        required aria-describedby="id_new_password2_helptext"
                        id="id_password2"
                        style="width: 180px;"
                >

                <span class="helptext" id="id_new_password1_helptext">
                    <ul>
{#                        <li>Your password can’t be too similar to your other personal information.</li>#}
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>

                {#                <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>#}

                <button
                        class="button-general"
                        type="submit"
                        style="margin-top: 32px; width: 180px; margin-bottom: 40px;"
                >Change your password</button>
            </form>
        </div>

        <h2 style="text-align: center;">Import and export transactions</h2>

        <div style="display: flex; justify-content: center;">
            {#            Import / export form #}
            <form
                    id="import-form"
                    method="post"
                    enctype="multipart/form-data"
                    {#                    collapse vis a/r#}
                    style="display: flex; align-items: center; visibility: visible;"
            >
                {% csrf_token %}
                {#                <input#}
                {#                    style="color: black; background-color: #aaaaaa; height: 38px;"#}
                {#                    type="file"#}
                {#                    accept="text/csv"#}
                {#                />#}
                <input type="file" name="file" required id="id_file"
                       style="color: black; background-color: #aaaaaa; height: 38px;">
            </form>

            <button id="import-start" class="button-general">Import from Mint ↑</button>
            {#            Have a button show the import dialog#}
            <button id="export" class="button-general">Export ↓</button>
        </div>
    </div>

    <script src="../static/util.js"></script>
    <script>
        document.getElementById("menu-settings").classList.add("menu-highlighted")

        document.getElementById('export').addEventListener('click', function() {
            window.location.href = '/export'
        })

        {#Set up the import start#}
        const importStart = document.getElementById('import-start')
        importStart.addEventListener('click', function() {
            {#importStart.#}
            const importForm = document.getElementById("import-form")
            if (importForm.style.visibility === "collapse") {
                importForm.style.visibility = "visible"
                importStart.style.visibility = "collapse"
                importStart.textContent = "Cancel import"
            } else {
                importForm.style.visibility = "collapse"
                importStart.textContent = "Import ↑"
            }
            //
        })

        {#function changePassword() {#}
        {#    console.log("CHANGING PW")#}
        {#    let payload = {#}
        {#        password1: document.getElementById("id_new_password1"),#}
        {#        password2: document.getElementById("id_new_password2"),#}
        {#    }#}
        {#    fetch("/password-change/", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })#}
        {#        .then(result => result.json())#}
        {#        .then(r => {#}
        {#            if (r.success) {#}
        {#                console.log("Password change complete")#}
        {#                document.getElementById("pw-change-success").style.visibility = "visible"#}
        {#            } else {#}
        {#                console.error("Password change failed")#}
        {#            }#}
        {#        });#}
        {#}#}
    </script>

{% endblock %}