{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Settings</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h2 style="text-align: center">Categorization rules</h2>
        <h2 id="rule-success" style="color: #39a839; visibility: collapse; text-align: center;">Rule save successful.</h2>
        <div style="display: flex; flex-direction: column; align-items: center">

            <button class="button-general" onclick="saveRules()" style="margin-bottom: 12px;">Save rules</button>

            {% for rule in rules %}
                <div style="display: flex; align-items: center; margin-bottom: 8px;">
                    <input
                            id="rule-descrip-{{ rule.id }}"
                            style="width: 200px; margin-right: 10px;"
                            value="{{ rule.description }}"
                            oninput="updateRule({{ rule.id }})"
                    />

                    <h4 style="margin-top: 0; margin-bottom: 0">➡</h4>
                    <div id="cat-div-{{ rule.id }}"></div>
                    {#                    <select#}
                    {#                            id="rule-category-{{ rule.id }}"#}
                    {#                            style="margin-left: 10px;">#}
                    {#                        {{ rule.category }}#}
                    {#                    </select>#}
                </div>
            {% endfor %}
        </div>

        <h2 style="text-align: center; margin-top: 60px;">Import and export transactions</h2>

        <div style="display: flex; justify-content: center;">
            {#            Import / export form #}
            <form
                    id="import-form"
                    method="post"
                    enctype="multipart/form-data"
                    {#                    collapse vis a/r#}
                    style="display: flex; align-items: center; visibility: visible;"
            >
                {% csrf_token %}
                {#                <input#}
                {#                    style="color: black; background-color: #aaaaaa; height: 38px;"#}
                {#                    type="file"#}
                {#                    accept="text/csv"#}
                {#                />#}
                <input type="file" name="file" required id="id_file"
                       style="color: black; background-color: #aaaaaa; height: 38px;">
            </form>

            <button id="import-start" class="button-general">Import from Mint ↑</button>
            {#            Have a button show the import dialog#}
            <button id="export" class="button-general">Export ↓</button>
        </div>

        <h2 style="text-align: center; margin-top: 60px; margin-bottom: 0;">Change password</h2>

        {% if password_change %}
            {% if password_change_success %}
                <h2 style="color: green; text-align: center">
                    Password successfully changed
                </h2>
            {% else %}
                <h2 style="color: #8d4a1f; text-align: center">
                    Password change failed; please try again.
                </h2>
            {% endif %}
        {% endif %}

        <div class="form-block" style="display: flex; justify-content: center;">
            <form
                    method="post"
                    style="display: flex; flex-direction: column; align-items: center; margin-top: 0;">

                {#                todo: C+P with little change from login and reset confirm!#}
                {% csrf_token %}

                <label for="id_new_password1" style="margin-top: 32px;">Password:</label>
                <input
                        type="password"
                        name="new_password1"
                        autocomplete="new-password"
                        required aria-describedby="id_password1_helptext"
                        id="id_password1"
                        style="width: 180px; margin-bottom: 20px;"
                >

                <label for="id_new_password2">Password confirmation:</label>
                <input
                        type="password"
                        name="new_password2"
                        autocomplete="new-password"
                        required aria-describedby="id_new_password2_helptext"
                        id="id_password2"
                        style="width: 180px;"
                >

                <span class="helptext" id="id_new_password1_helptext">
                    <ul>
{#                        <li>Your password can’t be too similar to your other personal information.</li>#}
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>

                {#                <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>#}

                <button
                        class="button-general"
                        type="submit"
                        style="margin-top: 32px; width: 180px; margin-bottom: 40px;"
                >Change your password</button>
            </form>
        </div>
    </div>

    <script src="../static/util.js"></script>
    <script>
        document.getElementById("menu-settings").classList.add("menu-highlighted")

        document.getElementById('export').addEventListener('click', function() {
            window.location.href = '/export'
        })

        let rulesUpdated = {}

        {#Set up the import start#}
        const importStart = document.getElementById('import-start')
        importStart.addEventListener('click', function() {
            {#importStart.#}
            const importForm = document.getElementById("import-form")
            if (importForm.style.visibility === "collapse") {
                importForm.style.visibility = "visible"
                importStart.style.visibility = "collapse"
                importStart.textContent = "Cancel import"
            } else {
                importForm.style.visibility = "collapse"
                importStart.textContent = "Import ↑"
            }
            //
        })

        function updateRule(id) {
            rulesUpdated[id] = {
                id: id,
                description: document.getElementById("rule-descrip-" + id.toString()).value,
                category: parseInt(document.getElementById("rule-category-" + id.toString()).value),
            }

            console.log("Updated: ", rulesUpdated)
        }

        function createCatSel(id, catInit) {
            // For each rule, we run this to create a select element, populated with rules.
            // todo: C+P with dashboard.
            let sel = createEl("select", {id: "rule-category-" + id.toString()}, {height: "40px"})

            let opt = createEl("option", {value: -2}, {}, "All")
            sel.appendChild(opt)

            for (let cat of catNames) {
                opt = createEl("option", {value: cat[0]}, {}, cat[1])

                if (cat[0] === catInit) {
                    opt.setAttribute("selected", "")
                }
                sel.appendChild(opt)
            }

            sel.addEventListener("input", e => {
                updateRule(id)
            })

            return sel
        }

        let div
        {% for rule in rules %}
            div = document.getElementById("cat-div-{{ rule.id }}")
            div.appendChild(createCatSel({{ rule.id }}, {{ rule.category }}))
        {% endfor %}

        function saveRules() {
            fetch("/edit-rules", { body: JSON.stringify(Object.values(rulesUpdated)), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("Rule edits failed to save")
                    } else {
                        document.getElementById("rule-success").style.visibility = "visible"
                    }
                });
        }

    </script>

{% endblock %}