{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Settings</title>
{% endblock %}

{% block contents %}

    <div class="home-body">

        <h2 style="text-align: center">Categorization rules</h2>
        <h2 id="rule-success" style="color: #39a839; visibility: collapse; text-align: center;">Rule save successful.</h2>
        <div style="display: flex; flex-direction: column; align-items: center">

            <div style="display: flex;">
                <button class="button-general" onclick="saveRules()" style="margin-bottom: 12px;">Save rule changes</button>
                <button class="button-general" onclick="addRule()" style="margin-bottom: 12px;">➕ Add</button>
            </div>

            <p>You can also add rules from the Dashboard, by clicking a category, then the <i>Always</i> button</p>

            {% for rule in rules %}
                <div id="rule-{{ rule.id }}" style="display: flex; align-items: center; margin-bottom: 8px;">
                    <input
                            id="rule-descrip-{{ rule.id }}"
                            style="width: 200px;"
                            value="{{ rule.description }}"
                            oninput="updateRule({{ rule.id }})"
                    />

                    <h4 style="margin: 0 10px;">➡</h4>
                    <div id="cat-div-{{ rule.id }}"></div>
                    <button class="button-general" style="height: 40px;" onclick="deleteRule({{ rule.id }})">❌</button>
                </div>
            {% endfor %}
        </div>

        <h2 style="text-align: center; margin-top: 80px;">Import and export transactions</h2>

        <div style="display: flex; justify-content: center;">
            {#            Import / export form #}
            <form
                    id="import-form"
                    method="post"
                    enctype="multipart/form-data"
                    {#                    collapse vis a/r#}
                    style="display: flex; align-items: center; visibility: visible;"
            >
                {% csrf_token %}
                {#                <input#}
                {#                    style="color: black; background-color: #aaaaaa; height: 38px;"#}
                {#                    type="file"#}
                {#                    accept="text/csv"#}
                {#                />#}
                <input type="file" name="file" required id="id_file"
                       style="color: black; background-color: #aaaaaa; height: 38px;">
            </form>

            <button id="import-start" class="button-general">Import from Mint ↑</button>
            {#            Have a button show the import dialog#}
            <button id="export" class="button-general">Export ↓</button>
        </div>

        <h2 style="text-align: center; margin-top: 80px; margin-bottom: 0;">Change password</h2>

        {% if password_change %}
            {% if password_change_success %}
                <h2 style="color: green; text-align: center">
                    Password successfully changed
                </h2>
            {% else %}
                <h2 style="color: #8d4a1f; text-align: center">
                    Password change failed; please try again.
                </h2>
            {% endif %}
        {% endif %}

        <div class="form-block" style="display: flex; justify-content: center;">
            <form
                    method="post"
                    style="display: flex; flex-direction: column; align-items: center; margin-top: 0;">

                {#                todo: C+P with little change from login and reset confirm!#}
                {% csrf_token %}


                <div style="display: flex; align-items: center">
                    <div style="display: flex; flex-direction: column">
                        <label for="id_new_password1" style="margin-top: 32px;">Password:</label>
                        <input
                                type="password"
                                name="new_password1"
                                autocomplete="new-password"
                                required aria-describedby="id_password1_helptext"
                                id="id_password1"
                                style="width: 180px; margin-bottom: 20px;"
                        >

                        <label for="id_new_password2">Password confirmation:</label>
                        <input
                                type="password"
                                name="new_password2"
                                autocomplete="new-password"
                                required aria-describedby="id_new_password2_helptext"
                                id="id_password2"
                                style="width: 180px;"
                        >
                    </div>

                    <div style="display: flex; align-items: center; margin-left: 40px;">
                        <button
                                class="button-general"
                                type="submit"
                                style=" width: 180px;"
                        >Submit</button>
                    </div>
                </div>

                <span class="helptext" id="id_new_password1_helptext">
                    <ul>
{#                        <li>Your password can’t be too similar to your other personal information.</li>#}
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>

                {#                <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>#}

            </form>
        </div>
    </div>

    <script src="../static/util.js"></script>
    <script>
        document.getElementById("menu-settings").classList.add("menu-highlighted")

        document.getElementById('export').addEventListener('click', function() {
            window.location.href = '/export'
        })

        let rulesUpdated = {}
        let rulesAdded = []
        let rulesDeleted = []

        {#Set up the import start#}
        const importStart = document.getElementById('import-start')
        importStart.addEventListener('click', function() {
            {#importStart.#}
            const importForm = document.getElementById("import-form")
            if (importForm.style.visibility === "collapse") {
                importForm.style.visibility = "visible"
                importStart.style.visibility = "collapse"
                importStart.textContent = "Cancel import"
            } else {
                importForm.style.visibility = "collapse"
                importStart.textContent = "Import ↑"
            }
            //
        })

        function updateRule(id) {
            rulesUpdated[id] = {
                id: id,
                description: document.getElementById("rule-descrip-" + id.toString()).value,
                category: parseInt(document.getElementById("rule-category-" + id.toString()).value),
            }
        }

        function addRule() {
            {#document.getElementById("rule-" + id.toString()).remove()#}
            rulesAdded.push({
                description: "New rule",
                category: -1,
            })

            // todo temp until we pass ID from backend
            const payload = {
                edited: [],
                added: [{
                    description: "New rule",
                    category: -1,
                }],
                deleted: [],
            }
            fetch("/edit-rules", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("Rule edits failed to save")
                    } else {
                        window.location.reload()
                    }
                });
        }

        function deleteRule(id) {
            document.getElementById("rule-" + id.toString()).remove()
            rulesDeleted.push(id)
        }

        function createCatSel(id, catInit) {
            // For each rule, we run this to create a select element, populated with rules.
            // todo: C+P with dashboard.
            let sel = createEl("select", {id: "rule-category-" + id.toString()}, {height: "40px"})

            let opt = createEl("option", {value: -2}, {}, "All")
            sel.appendChild(opt)

            for (let cat of catNames) {
                opt = createEl("option", {value: cat[0]}, {}, cat[1])

                if (cat[0] === catInit) {
                    opt.setAttribute("selected", "")
                }
                sel.appendChild(opt)
            }

            sel.addEventListener("input", e => {
                updateRule(id)
            })

            return sel
        }

        let div
        {% for rule in rules %}
            div = document.getElementById("cat-div-{{ rule.id }}")
            div.appendChild(createCatSel({{ rule.id }}, {{ rule.category }}))
        {% endfor %}

        function saveRules() {
            const payload = {
                edited: Object.values(rulesUpdated),
                {#added: rulesAdded,#}
                added: [], // todo temp handled separate
                deleted: rulesDeleted,
            }
            fetch("/edit-rules", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    if (!r.success) {
                        console.error("Rule edits failed to save")
                    } else {
                        if (rulesAdded.length) {
                            // todo: Temp until we pass new ID from the backend
                            window.location.reload()
                        }
                        document.getElementById("rule-success").style.visibility = "visible"
                    }
                });
        }

    </script>

{% endblock %}