{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Spending</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        <section style="display: flex; align-items: center; flex-wrap: wrap;">

            <h2 id="days-back" style="margin-right: 20px;">Past  30 days</h2>
            <button id="range-30" class="button-general" style="height: 22px;" onclick="setRangeFromDaysback(30)">Past 30 days</button>
            <button id="range-60" class="button-general" style="height: 22px;" onclick="setRangeFromDaysback(60)">Past 60 days</button>
            <button id="range-90" class="button-general" style="height: 22px;" onclick="setRangeFromDaysback(90)">Past 90 days</button>
            <button id="range-custom" class="button-general" style="height: 22px;" onclick="setRangeFromDaysback(-1)">Custom:</button>

            <h3 style="margin-right: 6px;">Start:</h3>
            <input id="start" type="date" oninput="setRangeFromDaysback(-1)" />
            <h3 style="margin-left: 12px; margin-right: 6px;">End:</h3>
            <input id="end" type="date" oninput="setRangeFromDaysback(-1)" />
        </section>

        {# Date range pickers, by month. #}
        {# todo: DRY with Dashboard #}
        <section style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
            {% for item in month_picker_items %}
                <button
                        id="range-month-{{ item.0 }}"
                        class="button-general"
                        style="margin-left: 8px; margin-right: 8px; height: 22px;"
                        onclick="setRangeWrapper('{{ item.0 }}', '{{ item.1 }}', '{{ item.2 }}')"
                >{{ item.0 }}</button>
            {% endfor %}

            {# All months #}
            {#            <button#}
            {#                    class="button-general"#}
            {#                    style="margin-left: 8px; margin-right: 8px;"#}
            {#                        onclick="changeDates('1980-01-01', '2030-01-01')"#}
            {#                    onclick="setRangeWrapper(null, null)"#}
            {#            >All</button>#}
        </section>


        <div style="display: flex; justify-content: center;">
            <h2 style="margin-right: 40px;">Income: <span id="income-total" class="tran-pos"></span></h2>
            <h2>Expenses:
                <span id="expenses-total" class="tran-neg"></span>
                <span style="font-weight: normal; margin-left: 6px;">(Discretionary:</span>
                <span id="expenses-discretionary" class="tran-neg" style="font-weight: normal;"></span>
                <span style="font-weight: normal;">Non-discretionary:</span>
                <span id="expenses-nondiscret" class="tran-neg" style="font-weight: normal;"></span>
                <span style="font-weight: normal;">)</span>
            </h2>
        </div>

        <p style="text-align: center;">Click a category below to show relevant transactions</p>
        {# Items to display wrapping, including the pie chart, and column data. Items here are clickable to view associated #}
        {# transactions. #}
        <section style="display: flex; justify-content: center; flex-wrap: wrap; margin-right: 80px;">
            <div id="plot-wrapper" style="width: 460px; margin-bottom: 40px;">
                <canvas id="plot"></canvas>
            </div>

            {# Lists of spending, by category, changes etc #}
            {#            <section id="spending-table">#}
            <div class="spending-table">
                <h2>Spending</h2>
                <div id="spending-section">
                </div>
            </div>

            <div class="spending-table">
                <h2>Changes</h2>
                <div id="change-section">
                </div>
            </div>

            <div class="spending-table">
                <h2>New merchants</h2>
                <div id="new-merchants-section">
                </div>
            </div>

            <div id="transactions" style="display: grid; grid-template-columns: 3fr 2fr 1fr 1fr; grid-template-rows: auto; grid-column-gap: 30px;"></div>

        </section>

        <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 60px;">
            <div style="display: flex; margin-top: 20px; margin-right: 60px; align-items:  center; flex-direction: column">
                <h2>Spending over time</h2>

                <div id="spending-over-time-wrapper" style="width: 500px; margin-bottom: 40px;">
                    <canvas id="spending-over-time"></canvas>
                </div>
            </div>

            <div style="display: flex; margin-top: 20px; align-items:  center; flex-direction: column">
                <h2>Net income over time</h2>

                <div id="income-over-time-wrapper" style="width: 500px; margin-bottom: 40px;">
                    <canvas id="income-over-time"></canvas>
                </div>
            </div>
        </div>

    </div>

    <script>
        {# Load template variables into JS. #}

        {#let HIGHLIGHTS = {{ highlights|safe }};#}
        {#let INCOME_TOTAL = {{ income_total|safe }};#}
        {#let EXPENSES_TOTAL = {{ expenses_total|safe }};#}
        let CUSTOM_CATEGORIES = {{custom_categories|safe }};
    </script>
    <script src="../static/util.js"></script>
    <script src="../static/spending.js"></script>

{% endblock %}