{% extends 'base.html'  %}

{% block head_contents %}
    <title>Finance Monitor: Spending</title>
{% endblock %}

{% block contents %}
    <div class="home-body">
        <section style="display: flex; align-items: center; flex-wrap: wrap;">

            <h2 id="days-back" style="margin-right: 20px;">Past  30 days</h2>
            <button id="range-30" class="button-general" onclick="setRangeFromDaysback(30)">Past 30 days</button>
            <button id="range-60" class="button-general" onclick="setRangeFromDaysback(60)">Past 60 days</button>
            <button id="range-90" class="button-general" onclick="setRangeFromDaysback(90)">Past 90 days</button>
            <button id="range-custom" class="button-general" onclick="setRangeFromDaysback(-1)">Custom:</button>

            <h3 style="margin-right: 6px;">Start:</h3>
            <input id="start" type="date" oninput="setRangeFromDaysback(-1)" />
            <h3 style="margin-left: 12px; margin-right: 6px;">End:</h3>
            <input id="end" type="date" oninput="setRangeFromDaysback(-1)" />
        </section>

        {# Date range pickers, by month. #}
        {# todo: DRY with Dashboard #}
        <section style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
            {% for item in month_picker_items %}
                <button
                        id="range-month-{{ item.0 }}"
                        class="button-general"
                        style="margin-left: 8px; margin-right: 8px;"
                        onclick="setRangeWrapper('{{ item.0 }}', '{{ item.1 }}', '{{ item.2 }}')"
                >{{ item.0 }}</button>
            {% endfor %}

            {# All months #}
            {#            <button#}
            {#                    class="button-general"#}
            {#                    style="margin-left: 8px; margin-right: 8px;"#}
            {#                        onclick="changeDates('1980-01-01', '2030-01-01')"#}
            {#                    onclick="setRangeWrapper(null, null)"#}
            {#            >All</button>#}
        </section>


        <div style="display: flex; justify-content: center;">
            <h2 style="margin-right: 40px;">Income: <span id="income-total" class="tran-pos"></span></h2>
            <h2>Expenses:
                <span id="expenses-total" class="tran-neg"></span>
                <span style="font-weight: normal; margin-left: 6px;">(Discretionary:</span>
                <span id="expenses-discretionary" class="tran-neg" style="font-weight: normal;"></span>
                <span style="font-weight: normal;">Non-discretionary:</span>
                <span id="expenses-nondiscret" class="tran-neg" style="font-weight: normal;"></span>
                <span style="font-weight: normal;">)</span>
            </h2>
        </div>

        <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-right: 80px;">
            <div id="plot-wrapper" style="width: 460px; margin-bottom: 40px;">
                <canvas id="plot"></canvas>
            </div>

            {# Lists of spending, by category, changes etc #}
            {#            <section id="spending-table">#}
            <div class="spending-table">
                <h2>Spending</h2>
                <div id="spending-section">
                </div>
            </div>

            <div class="spending-table">
                <h2>Changes</h2>
                <div id="change-section">
                </div>
            </div>

            <div class="spending-table">
                <h2>New merchants</h2>
                <div id="new-merchants-section">
                </div>
            </div>
            {#            </section>#}

        </div>

        <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 60px;">
            <div style="display: flex; margin-top: 20px; margin-right: 60px; align-items:  center; flex-direction: column">
                <h2>Spending over time</h2>

                <div id="spending-over-time-wrapper" style="width: 500px; margin-bottom: 40px;">
                    <canvas id="spending-over-time"></canvas>
                </div>
            </div>

            <div style="display: flex; margin-top: 20px; align-items:  center; flex-direction: column">
                <h2>Net income over time</h2>

                <div id="income-over-time-wrapper" style="width: 500px; margin-bottom: 40px;">
                    <canvas id="income-over-time"></canvas>
                </div>
            </div>
        </div>

    </div>

    <script src="../static/util.js"></script>



    {#    <script src="../static/js_libs/chart.min.js"></script>#}

    {# todo: Plotly basic min is still 1Mb!#}
    {#    todo: At least, load it after populating the rest of the page.#}
    {#    <script src="../static/js_libs/plotly-basic-2.30.1.min.js"></script>#}
    {#    <script src="../static/js_libs/chartjs-plugin-datalabels-220.min.js"></script>#}
    {#    <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js "></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>#}



    <script>
        getEl("menu-spending").classList.add("menu-highlighted")

        {# Load template variables into JS. #}

        {#let HIGHLIGHTS = {{ highlights|safe }};#}
        {#let INCOME_TOTAL = {{ income_total|safe }};#}
        {#let EXPENSES_TOTAL = {{ expenses_total|safe }};#}
        let CUSTOM_CATEGORIES = {{custom_categories|safe }};

        let HIGHLIGHTS = {by_cat: []}
        let INCOME_TOTAL = 0.
        let EXPENSES_TOTAL = 0.
        let EXPENSES_DISCRETIONARY = 0.
        let EXPENSES_NONDISCRET = 0.
        let SPENDING_OVER_TIME = []
        let INCOME_OVER_TIME = []
        let merchants_new = []

        let LOOKBACK = 30

        let ACTIVE_COLOR = "#349614"
        let ACTIVE_WEIGHT = "bold"

        // If we overrun this color list, it loops back to the top.
        const PLOT_COLORS = [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(187,255,86)',
            'rgb(86,255,255)',
            'rgb(199,86,255)',
            'rgb(255,137,86)',
            'rgb(255,86,227)',
            'rgb(86,255,204)',
            //
            'rgb(180,71,95)',
            'rgb(36,110,161)',
            'rgb(117,157,54)',
            'rgb(55,166,166)',
            'rgb(131,55,164)',
            'rgb(150,82,51)',
            'rgb(169,56,150)',
            'rgb(52,168,133)',

        ]

        function setRangeFromDaysback(daysBack) {
            let activeBtn
            let inactiveBtns = []
            if (daysBack === 30) {
                activeBtn = getEl("range-30")
                inactiveBtns = [
                    getEl("range-60"),
                    getEl("range-90"),
                    getEl("range-custom"),
                ]
            } else if (daysBack === 60) {
                activeBtn = getEl("range-60")
                inactiveBtns = [
                    getEl("range-30"),
                    getEl("range-90"),
                    getEl("range-custom"),
                ]
            } else if (daysBack === 90) {
                activeBtn = getEl("range-90")
                inactiveBtns = [
                    getEl("range-30"),
                    getEl("range-60"),
                    getEl("range-custom"),
                ]
            } else if (daysBack === -1) {
                activeBtn = getEl("range-custom")
                inactiveBtns = [
                    getEl("range-30"),
                    getEl("range-60"),
                    getEl("range-90"),
                ]
            }

            activeBtn.style.color = ACTIVE_COLOR
            activeBtn.style.borderColor = ACTIVE_COLOR
            activeBtn.style.fontWeight = ACTIVE_WEIGHT

            for (let btn of inactiveBtns) {
                btn.style.color = null
                btn.style.borderColor = null
                btn.style.fontWeight = null
            }
            // todo: By-month buttons: Active indicator.

            LOOKBACK = daysBack
            if (daysBack === -1) {
                getEl("days-back").textContent = "(Custom range)"
            } else {
                getEl("days-back").textContent = "Past " + daysBack.toString() + " days"
            }

            let start, end
            if (daysBack === -1) {
                // auto
                const startDate = getEl("start").value
                const endDate = getEl("end").value
                start = parseInt((new Date() - new Date(startDate)) / (3600 * 1000*24))
                end = parseInt((new Date() - new Date(endDate)) / (3600 * 1000*24))
            } else {
                end = 0
                start = daysBack
            }

            LOOKBACK = daysBack

            setRange(start, end)
        }

        function setRange(start, end) {
            // Set the date range.

            const payload = {
                start: start,
                end: end,
            }

            fetch("/load-spending-data", { body: JSON.stringify(payload), ...FETCH_HEADERS_POST })
                .then(result => result.json())
                .then(r => {
                    HIGHLIGHTS = r.highlights
                    INCOME_TOTAL = r.income_total
                    EXPENSES_TOTAL = r.expenses_total
                    EXPENSES_DISCRETIONARY = r.expenses_discretionary
                    EXPENSES_NONDISCRET = r.expenses_nondiscret
                    SPENDING_OVER_TIME = r.spending_over_time
                    INCOME_OVER_TIME = r.income_over_time
                    MERCHANTS_NEW = r.merchants_new

                    getEl("income-total").textContent = formatAmount(INCOME_TOTAL, 0)
                    getEl("expenses-total").textContent = formatAmount(-EXPENSES_TOTAL, 0)
                    getEl("expenses-discretionary").textContent = formatAmount(-EXPENSES_DISCRETIONARY, 0)
                    getEl("expenses-nondiscret").textContent = formatAmount(-EXPENSES_NONDISCRET, 0)

                    populate()
                    setupPieCharts()
                    setupTrendCharts()
                });
        }

        function populate() {
            let sectionSpending = getEl("spending-section")
            sectionSpending.replaceChildren()

            for (let item of HIGHLIGHTS.by_cat) {
                let amountText = formatAmount(item[1][1])
                amountText = amountText.replace("-", "")

                let h4 = createEl("h4", {}, {marginTop: 0, marginBottom: 0, fontWeight: "normal"}, catDisp(item[0]) + ": ")
                let s = createEl("span", {class: "tran-neutral"},  {}, amountText)
                h4.appendChild(s)
                sectionSpending.appendChild(h4)
            }

            let sectionChanges = getEl("change-section")
            sectionChanges.replaceChildren()
            for (let item of HIGHLIGHTS.cat_changes) {
                let amountText = formatAmount(item[1])
                if (item[1] > 0) {
                    amountText = "+" + amountText
                }

                let h4 = createEl("h4", {}, {marginTop: 0, marginBottom: 0, fontWeight: "normal"}, catDisp(item[0]) + ": ")
                let s = createEl("span", {class: "tran-neutral"},  {}, amountText)
                h4.appendChild(s)
                sectionChanges.appendChild(h4)
            }

            let newMerchants = getEl("new-merchants-section")
            newMerchants .replaceChildren()

            let h4
            if (MERCHANTS_NEW.length === 0 ) {
                h4 = createEl("h4", {}, {marginTop: 0, marginBottom: 0, fontWeight: "normal"}, "(None)")
                newMerchants.appendChild(h4)
            }

            for (let merchant of MERCHANTS_NEW) {
                h4 = createEl("h4", {}, {marginTop: 0, marginBottom: 0, fontWeight: "normal", marginLeft: "6px"}, merchant[0])

                if (merchant[1] !== null && merchant[1].length !== 0) {
                    let d = createEl("div", {}, {display: "flex"})
                    let img = createEl("img", {"src": merchant[1], alt: "", width: "24px"})
                    d.appendChild(img)
                    d.appendChild(h4)
                    newMerchants.appendChild(d)
                } else {
                    newMerchants.appendChild(h4)
                }
            }

        }

        function updateData() {

        }

        function setupPieCharts() {
            // https://www.chartjs.org/docs/latest/charts/doughnut.html#doughnut

            {#const config = {#}
            {#    type: 'doughnut',#}
            {#    data: data,#}

            const PCT_THRESH_GROUP = 0.04
            // todo:  YOu could use the alreayd passed income.
            // todo: Misc cat
            let total = 0
            for (let item of HIGHLIGHTS.by_cat) {
                total += item[1][1]
            }

            // Group minor contributors together.
            let labels = []
            let values = []
            let minorTotal = 0.
            for (let item of HIGHLIGHTS.by_cat) {
                let port = item[1][1] / total
                if (port > PCT_THRESH_GROUP) {
                    labels.push(catDisp(item[0]))
                    values.push(-item[1][1])
                } else {
                    minorTotal += -item[1][1]
                }
            }
            labels.push("Other")
            values.push(minorTotal)



            {#for (let item of HIGHLIGHTS.by_cat) {#}
            {#    labels.push(catDisp(item[0]))#}
            {#    values.push(item[1][1])#}
            //    {#}#}

            // getEl('plot').remove()

            let data_ = [{
                values: values,
                labels: labels,
                type: 'pie',
                textinfo: "label",
            }];

            let layout = {
                height: 420,
                width: 420,
                showlegend: false,
                margin: {
                    l: 0,
                    r: 0,
                    b: 0,
                    t: 0,
                    pad: 0,

                },
                paper_bgcolor: "#F8F8F8",
            };

            if (typeof(Plotly) == "undefined") {
                loadPlotLibs()
                return
            }

            Plotly.newPlot('plot-wrapper', data_, layout, {displaylogo: false});

            {##}
            {##}
            {#let el = document.createElement("canvas")#}
            {#el.setAttribute("id", "plot")#}
            {##}
            {#document.addEventListener('DOMContentLoaded', function () {#}
            {#    var ctx = document.getElementById('myPieChart').getContext('2d');#}
            {#    // Your chart initialization code here#}
            //
            {#getEl("plot-wrapper").appendChild(el)#}
            {##}
            {#let chartArea = getEl('plot').getContext('2d')#}
            {##}
            {#const data = {#}
            {#    labels: labels,#}
            {#    datasets: [{#}
            {#label: "Spending, by category",#}
            {#        data: values,#}
            {#        backgroundColor: PLOT_COLORS,#}
            {#hoverOffset: 4#}
            {#        //ackgroundColor: Utils.colors({#}
            {#        //   color: Utils.color(0),#}
            {#        //  count: 5#}
            {#        //}),#}
            {#        //data: Utils.numbers({#}
            {#        //   count: 5,#}
            {#        //  min: 0,#}
            {#        // max: 100#}
            {#        //}),#}
            {#    }],#}
            //
            {##}
            {#const chartSpendingPie = new Chart(chartArea, {#}
            {#type: "pie",#}
            {#    type: 'doughnut',#}
            {#    data: data,#}
            {#    options: {#}
            {#        animation: false,#}
            {#plugins: [ChartDataLabels],#}
            {#        plugins: {#}
            {#            legend: {#}
            {#                display: false // This will hide the legend#}
            {#            },#}
            {#            // Configuration options for the datalabels plugin#}
            {#            datalabels: {#}
            {#                backgroundColor: function (context) {#}
            {#                    return context.dataset.backgroundColor;#}
            {#                },#}
            {#                borderColor: 'white',#}
            {#                borderRadius: 25,#}
            {#                borderWidth: 2,#}
            {#                color: 'white',#}
            {#                display: function (context) {#}
            {#                    let dataset = context.dataset;#}
            {#                    let count = dataset.data.length;#}
            {#                    let value = dataset.data[context.dataIndex];#}
            {#                    return value > count * 1.5;#}
            {#                },#}
            {#                font: {#}
            {#                    weight: 'bold'#}
            {#                },#}
            {#                padding: 6,#}
            {#                formatter: Math.round,#}
            {##}
            {#                anchor: 'end',#}
            {#                align: 'end',#}
            {#                labels: {#}
            {#                    color: 'blue'#}
            {#                }#}
            {#            }#}
            {#        }#}
            {#    }#}
            //


            {#    radius: 0, // Don't show circles on the points.#}
            {#    responsive: true,#}
            {#    scales: {#}
            {#        x: {#}
            {#            display: true,#}
            {#            title: {#}
            {#                display: true,#}
            {#                text: 'Frequency (Hz)'#}
            {#            },#}
            {#            type: FREQ_LOG ? 'logarithmic' : 'linear',#}
            {#            ticks: {#}
            {#                stepSize: 500#}
            {#            }#}
            {#        },#}
            {#        y: {#}
            {#            title: {#}
            {#                display: true,#}
            {#                text: 'Amplitude and phase response'#}
            {#            },#}
            {#            display: true,#}
            {#ticks: {#}
            {#    stepSize: #}
            {##}
            {#        }#}
            {#    },#}
            {#    plugins: {#}
            {#        title: {#}
            {#            display: true,#}
            {#            text: 'Filter response: Amplitude and phase'#}
            {#        }#}
            {#    },#}

        }

        function loadPlotLibs() {
            // Not in a script tag, because it's huge.

            let script = document.createElement('script');
            script.src = "../static/js_libs/plotly-basic-2.30.1.min.js";
            script.onload = function () {
                setupPieCharts()
            };
            document.head.appendChild(script);

            script = document.createElement('script');
            script.src = "../static/js_libs/chart.min.js";
            script.onload = function () {
                setupTrendCharts()
            };
            document.head.appendChild(script);
        }

        function setupTrendCharts() {
            // https://www.chartjs.org/docs/latest/charts/doughnut.html#doughnut

            {#const config = {#}
            {#    type: 'doughnut',#}
            {#    data: data,#}

            // Set up spending over time.
            getEl('spending-over-time').remove()

            let el = document.createElement("canvas")
            el.setAttribute("id", "spending-over-time")
            getEl("spending-over-time-wrapper").appendChild(el)

            let chartArea = getEl('spending-over-time').getContext('2d')

            let labels = []
            let values = []
            for (let item of SPENDING_OVER_TIME) {
                labels.push(item[0])
                values.push(-item[1])
            }

            let data = {
                labels: labels,
                datasets: [{
                    label: "Spending over time",
                    data: values,
                    backgroundColor: PLOT_COLORS,
                    hoverOffset: 4
                }]
            };

            if (typeof(Chart) == "undefined") {
                return  // We handle loading these scripts together, from when Plotly is missing.
            }

            let chartSpending = new Chart(chartArea, {
                type: 'line',
                data: data,
                options: {
                    animation: false,
                    plugins: {
                        legend: {
                            display: false // This will hide the legend
                        }
                    }
                }
            })

            // todo: DRY with above!

            // Set up net income over time
            getEl('income-over-time').remove()

            el = document.createElement("canvas")
            el.setAttribute("id", "income-over-time")
            getEl("income-over-time-wrapper").appendChild(el)

            chartArea = getEl('income-over-time').getContext('2d')

            labels = []
            values = []
            for (let i=0; i<INCOME_OVER_TIME.length; i++) {
                {#for (item of INCOME_OVER_TIME) {#}
                labels.push(INCOME_OVER_TIME[i][0])
                values.push(INCOME_OVER_TIME[i][1] + SPENDING_OVER_TIME[i][1])
            }

            data = {
                labels: labels,
                datasets: [{
                    label: "Net income over time",
                    data: values,
                    backgroundColor: PLOT_COLORS,
                    hoverOffset: 4
                }]
            };

            let chartIncome = new Chart(chartArea, {
                type: 'line',
                data: data,
                options: {
                    animation: false,
                    plugins: {
                        legend: {
                            display: false // This will hide the legend
                        }
                    }
                }
            })
        }

        function setDatePickerDefaults() {

            // Setup
            const today = new Date();

            // Subtract 30 days
            const thirtyDaysAgo = new Date(today.setDate(today.getDate() - 30));

            // Format the date as "YYYY-MM-DD"
            getEl("start").value = thirtyDaysAgo.toISOString().split('T')[0]
            getEl("end").value = (new Date()).toISOString().split('T')[0]
        }

        function setRangeWrapper(monthName, start, end) {
            // Converts dates to days back.
            // todo: These APIs are confusing; sort it out.
            start = parseInt((new Date() - new Date(start)) / (3600 * 1000*24))
            end = parseInt((new Date() - new Date(end)) / (3600 * 1000*24))

            // todo: DRY
            let inactiveBtns = [
                getEl("range-30"),
                getEl("range-60"),
                getEl("range-90"),
                getEl("range-custom"),
                // todo: Other single-months.
            ]

            for (let btn of inactiveBtns) {
                btn.style.color = null
                btn.style.borderColor = null
                btn.style.fontWeight = null
            }

            getEl("days-back").textContent = monthName

            // Mark the button using the active style
            // todo: DRY
            {#let activeBtn = getEl("range-month-{{ item.0 }}").style#}
            {#activeBtn.style.color = ACTIVE_COLOR#}
            {#activeBtn.style.borderColor = ACTIVE_COLOR#}
            {#activeBtn.style.fontWeight = ACTIVE_WEIGHT#}

            setRange(start, end)
        }

        function init() {
            setDatePickerDefaults()
            setRangeFromDaysback(30)
        }

        init()


    </script>

{% endblock %}