{% extends 'base.html'  %}
{% load static %}

{% block head_contents %}
    <title>AnyLeaf sensors: Terms and Conditions</title>
{% endblock %}

{% block contents %}

    <div class="home-body">
<h1>Terms and Conditions</h1>
    <p>Last updated: March 2, 2024</p>
    <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Finance Monitor
        website (the "Service") operated by Ops plans LLC ("us", "we", or "our").</p>

    <h2>Access to the Service</h2>
    <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

    <h2>Accounts</h2>
    <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

    <h2>Intellectual Property</h2>
    <p>The Service and its original content, features, and functionality are and will remain the exclusive property of Ops plans LLC and its licensors.</p>

    <h2>Links To Other Web Sites</h2>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Ops plans LLC.</p>
    <p>Ops plans LLC has no control over, and assumes no responsibility for, the content, privacy policies, or 
        practices of any third party web sites or services. You further acknowledge and agree that Ops plans LLC shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

    <h2>Termination</h2>
    <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
        whatsoever, including without limitation if you breach the Terms.</p>

    <h2>Limitation Of Liability</h2>
    <p>In no event shall Ops Plans LLC, nor its directors, employees, partners, agents, suppliers, or affiliates, 
        be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>

    <h2>Disclaimer</h2>
    <p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. 
        The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>

    <h2>Governing Law</h2>
    <p>These Terms shall be governed and construed in accordance with the laws of the USA, without regard to
        its conflict of law provisions.</p>

    <h2>Changes</h2>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
        material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at contact@finance-monitor.com</p>

    </div>

{% endblock %}