<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>

{# Menu #}
<h2>Login</h2>
<h2>Register</h2>


<h1>Welcome to Wallet</h1>

<h2>Net worth</h2>
{% for account in accounts %}
    <div style="display: flex;">
        <h3>Institution:{{ account.institution.name }}</h3>
        <h3>Name: {{ account.name }}</h3>
        <h3>Value: ${{ account.name }}</h3>
    </div>
{% endfor %}
{# todo: Load transactions and account info async with JS #}


<h2>Transactions</h2>
{% for transaction in transactions %}
    <div style="display: flex;">
        <h3>Account: ${{ transaction.account.name }}</h3>
        <h3>Amount: ${{ transaction.amount }}</h3>
        <h3>{{ transaction.description }}</h3>
    </div>
{% endfor %}

<button id="token_exchange">Click me</button>

{# todo: Load locally. #}
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<script>
    function getCrsfToken() {
        // For CRSF compatibility
        let name_ = "csrftoken"
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name_.length + 1) === (name_ + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name_.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const FETCH_HEADERS_GET = {
        method: "GET",
        mode: "cors",
        credentials: "same-origin",
        headers: {
            "X-CSRFToken": getCrsfToken(),
            Accept: "application/json",
        },
    }
    const FETCH_HEADERS_POST = {
        method: "POST",
        mode: "cors",
        credentials: "same-origin",
        headers: {
            "X-CSRFToken": getCrsfToken(),
            Accept: "application/json",
        },
    }

    btn = document.getElementById("token_exchange")
    btn.addEventListener("click", e => {
        postData = {}

        const url = "/create-link-token"
        fetch(url, { body: JSON.stringify(postData), ...FETCH_HEADERS_POST })
            // Parse JSON if able.
            .then(result => {
                try {
                    return result.json();
                }
                catch (e) {
                    return result;
                }
            })
            .then(r => {
                let linkToken = r.link_token
                console.log("Received link token: ", linkToken)
            });
    })

</script>


</body>
</html>